.navbar {

    background-color:white;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-evenly;
}
.button-primary{
    align-self: flex-end
}

/* .navbar-nav{ */

.container{
    justify-content: space-around;
    text-align: center;
    align-content: justify;
}

.btn-group{
    align-self: flex-end
}
.css-header-container{
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
   

}
.css-header-textcontainer{
    margin-right: 10;
    height: auto;
    width: 60%;
    
}
.css-header-image-container{
    height: auto;
}
#header-image{
    max-height:  100%;
    width: 100%;
}
h1{
    font-size: 40pt;
}
#sign-in{
color: grey
}
#sign-in2{
    color:grey;
    font-weight: bold;
}
#line-break{
    height: 1px;
    width: 66%;
    background-color: grey;
    align-self: center;
    margin-bottom: 50px;
}