.navbar {
    color: purple;
    background-color:white;
    font-family: 'Courier New', Courier, monospace;
    text-align: end;

}
/* btn-primary{ */

/* .navbar-nav{ */

.container1{
    text-align: center;
}

.btn-group{}
    