.navbar {

    background-color:white;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-evenly;
}
.button-primary{
    align-self: flex-end
}

/* .navbar-nav{ */

.container{
    justify-content: space-around;
    text-align: center;
    align-content: justify;
}

.btn-group{
    align-self: flex-end
}