<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/mlg.css">
<title>Footer</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row display-flex bg-primary text-white">
            <div class="footer-wrapper col">
                <h1>Try Double Tap Today!</h1>
                <h6>Let's Get Started</h6>
    
                <ul class="list-inline pb-2">
                    <li class="list-inline-item"><button type="button" class="btn btn-success"><i class="fal fa-chevron-double-right"></i>Get Started &raquo;</button></li>
                    <li class="list-inline-item my-5"></li>
                    <li class="list-inline-item"><button type="button" class="btn btn-light text-primary"><i class="fas fa-comment-dots"></i>Chat With Us</button></li>
                </ul>

                <ul class="list-inline">
                    <li class="list-inline-item">Free 14 day trial</li>
                    <li class="list-inline-item">&#9679</li>
                    <li class="list-inline-item">Manage Customers in Minutes</li>
                    <li class="list-inline-item">&#9679</li>
                    <li class="list-inline-item">Cancel at Anytime</li>
                </ul>
           </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>