<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <!-- flexbox with row -->
    <div class="css-headerbox"> 
        <!-- flexbox column -->
        <div class="css-headertextbox">
            <h1>Focus on Your Business</h1>
            <h3>Let Us Handle Everything Else</h3>
            <p>Subscription Billing, powered with revenue</p>
            <div class="css-header-buttons">
                <div class="signupbutton">
                    <div class="signuptext">

                    </div>
                    <div class="signupicon">
                        >>
                    </div>
                </div>
                <div class="chatbutton">
                    <div class="chaticon">
                        
                    </div>
                    <div class="chattext">
                    </div>
                </div>
            </div>
            <p>Already using Doubletap?</p>
            same thing as the footer
        </div>
        <!-- just gonna have the image -->
        <div class="css-headerimagebox">

        </div>
    </div>
</body>
</html>