<!DOCTYPE html>
<html lang="en">
<head>
    <title>How it works</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="landing_header.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    

  </head>
  <body>
  
  <nav class="navbar navbar-light bg-light">
      <div class="navbar-header">
       
      </div>
      <ul class="list-inline justify-content space-evenly">
          <img src="assets/crm-main/logo-1.png"></a></li>
          <li class="list-inline-item"><a href="index.html">Home</a></li>
          <li class="list-inline-item"><a href="#">Features</a></li>
          <li class="list-inline-item"><a href="#">Pricing</a></li>
          <li class="list-inline-item"><a href="how-it-works.html">How it Works</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>

    

       <li class="list-inline-item"><a class="btn btn-primary mx-auto" href="signin.html">Sign In</a></li>
      
       <li class="list-inline-item"><button type="submit" class="btn btn-primary mx-auto">Try it Free</button></li>

      </ul>
    </div>
  </nav>




  <div class="css-header-container">
  
      
      <div class="css-header-textcontainer">
      
    
    <h1>Focus on Your Business</h1>
    <h2>Let Us Handle Everything Else</h2>
    <p id="sign-in">Subscription Billing, powered with revenue tools and a seamless customer experience - without the hurdles.</p>
      
    
      <div class="btn-group btn-group-lg">
    <ul class="list-inline pb-2">
      <li class="list-inline-item"><button type="button" class="btn btn-primary"><i class="fal fa-chevron-double-right"></i>Get Started &raquo;</button></li>
      <li class="list-inline-item my-5"></li>
      <li class="list-inline-item"><button type="button" class="btn btn-outline-primary btn-light text-primary"><i class="fas fa-comment-dots"></i>Chat With Us</button></li>
      </ul>
    

       <div id="sign-in">Already using Double-tap? <a id="sign-in2" href="">Sign in</a>
       </div>
       
    
       <ul class="list-inline">
    <li class="list-inline-item">Free 14 day trial</li>
    <li class="list-inline-item">&#9679</li>
    <li class="list-inline-item">Manage Customers in Minutes</li>
    <li class="list-inline-item">&#9679</li>
    <li class="list-inline-item">Cancel at Anytime</li>
    </ul>
    </div>

    
  </div>

  <div class="css-header-image-container">


    <img id="header-image" src="assets/CRM-Main/Header-Side.png">
    

  </div>

   
</body>
</html>