<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/radiotest.css">
    <title>Document</title>
</head>
<body>
    <div class="css-body-container">
        <div class="radioTestContainer">
            <div class="css-radio-container">
                <input type="radio" name="radio" id="radio1" class="css-radio-input"></input>
                <label for="radio1" class="css-radio-box">
                    <img src="assets/CRM-Main/payments_crop.PNG" class="css-radio-image"></img>
                    <div class="css-radio-text">Payments</div>
                </label>
            </div>
            <div class="css-radio-container">
                <input type="radio" name="radio" id="radio2" class="css-radio-input"></input>
                <label for="radio2" class="css-radio-box">
                    <img src="assets/CRM-Main/retain_crop.PNG" class="css-radio-image"></img>
                    <div class="css-radio-text">Retain</div>
                </label>
            </div>
            <div class="css-radio-container">
                <input type="radio" name="radio" id="radio3" class="css-radio-input"></input>
                <label for="radio3" class="css-radio-box">
                    <img src="assets/CRM-Main/reporting_crop.PNG" class="css-radio-image"></img>
                    <div class="css-radio-text">Reporting</div>
                </label>
            </div>
            <div class="css-radio-container">
                <input type="radio" name="radio" id="radio4" class="css-radio-input"></input>
                <label for="radio4" class="css-radio-box">
                    <img src="assets/CRM-Main/convert_crop.PNG" class="css-radio-image"></img>
                    <div class="css-radio-text">Convert</div>
                </label>
            </div>
        </div>
        <div class="css-radio-related-content-container">
            <div class="css-radio-related-content" id="content1">hello</div>
            <div class="css-radio-related-content" id="content2">hello 2</div>
            <div class="css-radio-related-content" id="content3">hello 3</div>
            <div class="css-radio-related-content" id="content4">hello 4</div>
        </div>

    </div>


    <script src="radio.js"></script>
</body>
</html>